spring:
  application:
    name: library-service
  datasource:
    driverClassName: org.h2.Driver
    password:
    url: jdbc:h2:mem:LibraryDb
    username: sa
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true

server:
  port: 8080
